<h1 class="text-center" style="color:darkblue"><strong>Welcome {{this.dataService.currentUser}} to SBM Bank</strong></h1>
<form [formGroup]="depositForm" (ngSubmit)="deposit()">
<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col">
                <h2> Cash Deposit Form</h2>

                <table>
                    <tr>
                        <td>accno</td>
                        <td><input formControlName="accno" type="text" name="accno" id="txtaccno"></td>
                        <td *ngIf="(this.depositForm.get('accno')?.touched||this.depositForm.get('accno')?.dirty)&&this.depositForm.get('accno')?.errors" class="errors">Account Number is Invalid</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input formControlName="pswd" type="password"  id="txtpin"></td>
                        <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors" class="errors">Password is Invalid</div>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input formControlName="amount" type="text"  id="txtamnt"></td>
                        <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors" class="errors">Amount is Invalid</div>
                    </tr>
                    <br>
                    <tr>
                        <td><button type="submit" class="btn btn-primary" value="proceed">Deposit</button></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
</form>
<br>
<form [formGroup]="withdrawForm" (ngSubmit)="withdraw()"> 
<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col">
                <h2> Cash Withdrawal Form</h2>

                <table>
                    <tr>
                        <td>accno</td>
                        <td><input formControlName="accno" type="text"  name="accno" id="txtaccno"></td>
                        <td *ngIf="(this.withdrawForm.get('accno')?.touched||this.withdrawForm.get('accno')?.dirty)&&this.withdrawForm.get('accno')?.errors" class="errors">Account Number is Invalid</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input formControlName="pswd" type="password"  id="txtpin"></td>
                        <div *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors" class="errors">Password is Invalid</div>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input formControlName="amount" type="text"  id="txtamnt"></td>
                        <div *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors" class="errors">Amount is Invalid</div>
                    </tr>
                    <br>
                    <tr>
                        <td><button type="submit" class="btn btn-primary" value="proceed">Withdraw</button></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
</form>